
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.container {
  padding: 0 15%;
}

@media only screen and (max-width: 992px) {
  .container {
    padding: 0;
  }
}
